<main>

    <form class="product-form" action="/signup" method="POST">
        <div class="form-control">
            <label for="title">Name</label>
            <input type="text" name="title" id="title">
            Address
            <input type="text" name="address" id="address">
            City
            <input type="text" name="city" id="address">
            State
            <input type="text" name="state" id="address">
            Pincode
            <input type="text" name="pin" id="address">
            Mobile
            <input type="mobile" name="mobile" id="mobile">
            Total Seats
            <input type="text" name="tseats" id="seats">
            Booked Seats
            <input type="text" name="bseats" id="seats">
            Available Seats
            <input type="text" name="aseats" id="seats">
        </div>

        <button class="btn" type="submit">Sign Up</button>
    </form>
</main>